MAILGUN_API_KEY=API_KEY
MAILGUN_DOMAIN=MAILGUN_DOMAIN
MAILGUN_BASE_URL=https://api.mailgun.net
MAILGUN_FROM_EMAIL=MAILGUN_FROM_EMAIL
JWT_SECRET=dev-jwt-secret
DATABASE_URL=DB_URL
REDIS_ADDR=redis:6379
NATS_URL=nats://nats:4222
